:root {
    --primary: #2703A6;
    --light: #593EA2;
    --dark: #141259;

    --alt-light: #F2B705;
    --alt-dark: #F29F05;

    --text-black: #000000;
    --text-white: #FFFFFF;


    background-color: var(--primary);
    color: var(--text-white);
    text-align: center;
}

nav {
    background-color: var(--dark);
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 25px;
}

.nav-button {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;

    font-family: monospace;
    font-weight: bold;
    font-size: large;

    justify-content: center;
}

.nav-button, a {
    color: var(--alt-light);
    text-decoration: none;
}

.nav-button:hover, a:hover {
    color: var(--alt-dark);
    font-style: italic;
}

main {
    background-color: var(--alt-light);
    color: var(--text-black);
    width: 700px;
    margin: auto;
    padding: 20px;
}

