:root {
    --primary: #102542;
    --light: #29524A;
    --dark: #0E0906;

    --alt-light: #8C8C88;
    --alt-dark: #94A187;

    --text-black: #000000;
    --text-white: #FFFFFF;


    background-color: var(--primary);
    color: var(--text-white);

}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

nav li {
    margin-bottom: 25px;
}

nav button {
    background: none;
    border: none;
    outline: none;

    font-family: monospace;
    font-weight: bold;
    font-size: large;

    justify-content: center;
}

button, a {
    color: var(--alt-light);
    text-decoration: none;
}

button:hover, a:hover {
    color: var(--alt-dark);
    font-style: italic;
}


body {
    display: flex;
    flex-wrap: wrap;
}

nav {
    background-color: var(--dark);
    padding: 10px 20px;
    width: 10%;
    min-height: 100vh;
}

header {
    width: 100%;
}

main {
    background-color: var(--alt-light);
    color: var(--text-black);
    flex: 1;
    width: 90%;
    min-width: 600px;

    padding: 20px;
    border: 10px solid var(--light);
}

footer {
    width: 100%;

}
